{% extends "layouts/base.html" %} {% load static %} {# Load the tag library #}
{% block title %} {{title}} {% endblock title %} {% block content %}

<div class="layout__about">
  <div class="about__somos">
    <h2>¿Quiénes somos?</h2>

    <p class="about__text">
      En el corazón de Cartagena, una ciudad donde la historia y el lujo se
      fusionan, nació nuestra empresa con una misión clara: redefinir el
      transporte de alta gama. Nos especializamos en brindar experiencias únicas
      a quienes buscan exclusividad, confort y un servicio impecable.
    </p>
    <p class="about__text">
      Nuestra flota está compuesta por los vehículos más lujosos y exclusivos,
      diseñados para ofrecer el máximo nivel de comodidad y seguridad. Pero lo
      que realmente nos distingue es nuestro equipo humano: profesionales
      altamente capacitados, discretos y con una atención al detalle
      excepcional, que entienden las expectativas de los clientes más exigentes
      y las superan en cada trayecto.
    </p>

    <p class="about__text">
      Cada viaje con nosotros no es solo un traslado, es una experiencia a la
      altura de la sofisticación que caracteriza a nuestros clientes. Desde la
      puntualidad hasta la personalización del servicio, cada detalle está
      pensado para garantizar una sensación de exclusividad y tranquilidad
      absoluta.
    </p>

    <p class="about__text">
      Si buscas más que un simple transporte, bienvenido a nuestra comunidad del
      lujo en movimiento
    </p>
  </div>

  <div class="about__otros">
    <h2>Misión</h2>
    <p class="about__text">
      Proporcionar servicio de transporte de lujo que ofrezca comodidad,
      seguridad y una experiencia inigualable para nuestros clientes en
      Cartagena.
    </p>

    <h2>Visión</h2>
    <p class="about__text">
      Ser la empresa lider en transporte de lujo en Cartagena, reconocida por
      nuestra excelencia en el servicio y la satisfacción total del cliente.
    </p>
  </div>
</div>

{% endblock content %}
