.layout__about {
  display: flex;
  justify-content: space-between;
}

.about__somos {
  width: 55%;
}

.about__otros {
  width: 35%;
  margin-left: -2rem;
}

.about__text {
  text-align: justify;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
