{% extends "layouts/base.html" %}

{% load static %}
{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_button content %}

{% block title %} {{title}} {% endblock title %} 

{% block content %}
  
  <div class="layout__home">

    <div class="home__form">

      <form class="form__header ">

        <div class="form__select ">
            <label class="form__label form__label--select ">Seleccione rutas:</label>
          <select id="status" name="status" onChange="mostrar(this.value);" class="select__options">
            <option value="ida">Ida</option>
            <option value="idayvuelta">Ida y vuelta</option>
          </select>
          </div>
        <span class="form__sub-title">*Reservas exclusiva para Cartagena</span>

        
      </form> 

      <!-- IDA -->
      <div id="ida">
        <div class="ida">
          <form method="post" action="{% url 'detail' %}"  class="layout__form">
            {% csrf_token %}
          
              <div class="form__cont">
                <label class="form__label" for="start_of_route">Elije la ubicación de partida</label>
                <input type="text"
                      id="start_a"
                      name="start_of_route"
                      class="form__input"
                      required />
              </div>

              <div class="form__cont">
                <label class="form__label" for="end_of_route">Elije un destino</label>
                <input type="text"
                      id="end_a"
                      name="end_of_route"
                      class="form__input"
                      required />
              </div>
          <div class="form__cont-doble">
              <div class="form__cont">
                <label class="form__label">Fecha de Recogida</label>
                <input type="date"
                      name="date"
                      class="form__input"
                      min='{{ fecha }}'
                      required />
              </div>

              <div class="form__cont">
                <label class="form__label">Hora de Recogida (Ida)</label>
                <input type="time" name="time" class="form__input" required />
              </div>
            </div>
            
            <input type="hidden" name="viaje" value="ida" />
            <input type="hidden" name="distance" id="distanceId" value="" />
            <input type="hidden" name="duration" id="durationId" value="" />
            <input type="submit" class="form__button" value="Reservar" />
          </form>
        </div>
      </div>

      <!-- IDA Y VUELTA -->
      <div id="idayvuelta" style="display:none">

        <h3  class="form__sub">Datos de Ida</h3>

        <form method="post" action="{% url 'detail' %}" >
          {% csrf_token %}
          <div  class="layout__form">
            <div class="form__cont">
              <label class="form__label" for="start_of_route">Elije la ubicación de partida</label>
              <input type="text"
                    id="start_b1"
                    name="start_of_route"
                    class="form__input"
                    required />
            </div>

            <div class="form__cont">
              <label class="form__label" for="end_of_route">Elije un destino</label>
              <input type="text"
                    id="end_b1"
                    name="end_of_route"
                    class="form__input"
                    required />
            </div>
            <div class="form__cont-doble">
            <div class="form__cont">
              <label class="form__label" for="date">Fecha de Recogida</label>
              <input type="date"
                    name="date"
                    min='{{ fecha }}'
                    class="form__input"
                    required />
            </div>

            <div class="form__cont">
              <label class="form__label" for="time">Hora de Recogida (Ida)</label>
              <input type="time" name="time" class="form__input" required />
            </div>
          </div>

          <input type="hidden" id="distanceId" value="" name="distance" />
          <input type="hidden" name="duration" id="durationId" value="" />

        </div>
          <h3 class="form__sub">Datos de Regreso</h3>
          <div class="layout__form">    
          
          
            <div class="form__cont">
              <label class="form__label" for="start_of_route">Elije la ubicación de partida</label>
              <input type="text"
                    id="start_b"
                    name="start_of_route_return"
                    class="form__input"
                    required />
            </div>

            <div class="form__cont">
              <label class="form__label" for="end_of_route">Elije un destino</label>
              <input type="text"
                    id="end_b"
                    name="end_of_route_return"
                    class="form__input"
                    required />
            </div>
          
            <div class="form__cont-doble">
            <div class="form__cont">
              <label class="form__label" for="date">Fecha de Recogida</label>
              <input type="date"
                    name="date_return"
                    min='{{ fecha }}'
                    class="form__input"
                    required />
            </div>

            <div class="form__cont">
              <label class="form__label" for="time">Hora de Recogida (Ida)</label>
              <input type="time" name="time_return" class="form__input" required />
              {% comment %} <span>*Formato 24 horas</span> {% endcomment %}
            </div>
          </div>

          <input type="hidden" id="distanceIdRet" value="" name="distance" />
          <input type="hidden" name="duration" id="durationId" value="" />
          <input type="hidden" name="viaje" value="idayvuelta" />
          <input type="submit" class="form__button" value="reservar" />
        </div>      
        </form>
      
      </div>

    </div>

    <div class="home__video">
      <span class="info__subtitle">¿A dónde quieres</span>
        <h1 class="info__title"> ir ahora? </h1>
      <div class="home__image">
        <video  autoplay muted  loop>
          <source src="{% static 'videos/video.mp4' %} " type="video/mp4">
          <source src="movie.ogg" type="video/ogg">
          Tu navegador no admite el elemento <code>video</code>.
        </video>    
      </div>

    </div>


</div>

<div class="home__gallery">
  <h1 class="gallery__title"> - Galeria - </h1>

  <div class="gallery__content">  

    {% for car in cars %}
    <div class="gallery__card">
      <div class="card__img">
        <img src="{{car.image.url}}" alt="{{car.name}}" class="card__photo">
      </div>
      <div class="card__header">
        <h2 class="card__title"> {{car.name}} </h2>
        <div class="card__icon">
            <span class="card__passeger"><i class="card__item fa-sharp fa-solid fa-person"></i> {{car.Number_passengers}} </span>
            <span class="card__luggage"><i class="card__item fa-sharp fa-solid fa-suitcase-rolling"></i> {{car.amount_luggage}} </span>
        </div>  
      </div>    
      <p class="card__desc">{{car.desciption}}</p>
    </div>
    {% endfor %}

  </div>
</div>


  {% endblock content %}