@media screen and (max-width: 920px) {
  .home__info {
    width: 40%;
  }

  .info__title {
    font-size: 6rem;
    margin-top: -1.7rem;
  }

  .info__subtitle {
    font-size: 2.5rem;
  }

  .form__header {
    width: 100%;
  }
  .layout__form {
    width: 100%;
  }

  .form__label {
    font-size: 0.8rem;
  }

  .form__cont {
    width: 22%;
  }
}

@media screen and (max-width: 870px) {
  .info__title {
    font-size: 4.5rem;
    margin-top: -1rem;
  }

  .info__subtitle {
    font-size: 2rem;
  }

  .select__options {
    padding: 1rem 2rem;
  }

  .header__menu--visible {
    width: 30%;
  }
}

@media screen and (max-width: 678px) {
  .layout {
    width: 95%;
    /* height: 90vh; */
    border-radius: 1rem;
  }

  .form__header {
    margin-top: 3.5rem;
  }
}

@media screen and (max-width: 606px) {
  .info__title {
    font-size: 3.5rem;
    margin-top: -1rem;
  }

  .info__subtitle {
    font-size: 1.7rem;
  }

  .home__form {
    width: 100%;
  }

  .form__cont-doble {
    flex-direction: column;
  }

  .layout__form {
    flex-direction: column;
  }

  .form__cont {
    width: 95%;
    margin-bottom: 2rem;
    margin-left: 1rem;
  }

  .form__button {
    width: 95%;
    margin-left: 1rem;
  }

  .gallery__title {
    width: 60%;
  }

  .gallery__card {
    flex-basis: 100%;
  }

  .contact {
    flex-direction: column-reverse;
  }

  .contact__form,
  .contact__info {
    width: 100%;
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 606px) {
  .dark__vehiculos,
  .layout__home {
    flex-direction: column-reverse;
  }

  .home__video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .layout {
    padding: 1.5rem 1.5rem;
  }

  .layout__detail {
    flex-direction: column-reverse;
  }

  .vehiculos__content,
  .map-info,
  .detail__map,
  .detail__info {
    width: 100%;
  }
  .vehiculo__car-n,
  .vehiculo__colum {
    width: 40%;
    flex-direction: column;
  }

  .vehiculo__car-d {
    width: 9%;
  }

  .c-val {
    font-size: 1.6rem !important;
  }

  .vehiculo__car-i {
    width: 100%;
  }

  .vehiculo__subtitle {
    font-size: 1.4rem;
  }

  .form__button {
    width: 90%;
    font-size: 1rem;
  }
  .box-form-item-one,
  .box-form-item {
    width: 95%;
  }

  .box-form-last {
    width: 95%;
    flex-direction: column;
  }

  .box-form-mult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  .box-form-booking {
    flex-direction: column;
  }

  .layout__booking-info {
    width: 100%;
  }

  .home__info {
    width: 80%;
  }

  .info__title {
    font-size: 6.5rem;
    margin-top: -1rem;
  }

  .info__subtitle {
    font-size: 2.7rem;
  }

  .home__image {
    width: 90%;
    margin-bottom: 3rem;
  }

  .form__header {
    width: 95%;
  }

  .form__sub-title {
    display: block;
    width: 50%;
    font-size: 1.2rem;
    text-align: right;
  }
}

@media screen and (max-width: 445px) {
  .info__title {
    font-size: 5.5rem;
  }

  .header__menu--visible {
    width: 45%;
  }
}
