/* ESTILOS GENERALES */

:root {
  --color-background: #121212;
  --color-primary: #cb7a00;
  --color-secundary: #dddddd;
  --color-text: #ffffff;
  --color-text-dark: #222;

  --color-border: #333;
  --color-sombra: #464545;
}

/* ESTRUCTURA GENERAL */
html {
  font-size: 10px;
}

body {
  /* display: flex;
  justify-content: center;
  align-items: center; */

  /* padding-top: 2rem; */
  font-family: "Montserrat";
  font-size: 1.5rem;
  backdrop-filter: sepia(90%);
  color: var(--color-text);
}

.fondo {
  position: fixed;
  width: 100%;
  /* height: 100%; */
  /* height: 100%;   */
  padding-top: 2rem;
  background-color: var(--color-background);
  background-image: url(../img/background_sepia.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -o-background-size: 100% 100%, auto;
  -moz-background-size: 100% 100%, auto;
  -webkit-background-size: 100% 100%, auto;
  background-size: 100% 100%, auto;

  /* background-repeat: no-repeat; */
  background-size: cover;
  backdrop-filter: sepia(90%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "LeagueSpartan Bold";
  color: var(--color-primary);
}

.layout {
  /* display: block; */
  width: 85%;
  min-height: 89vh;
  height: auto;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 1rem 4rem;
  /* padding-bottom: 3rem; */

  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);

  border-radius: 2rem;
  box-shadow: 0px 0px 1.5rem var(--color-border);
}

.layout__background {
  background-color: #464545;
  opacity: 0.5;
}

.layout__header {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 10rem;
  height: 10rem;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  /* width: 0%; */
  color: var(--color-text-dark);
}

.layout__menu-toggle {
  z-index: 9999;
  display: block;
  position: absolute;
  right: 3.5rem;
  top: 3rem;
  width: 4.2rem;
  height: 4.2rem;
  line-height: 4.3rem;
  text-align: center;
  font-size: 2.5rem;
  /* border-radius: 3rem; */
  color: var(--color-primary);
  /* background-color: var(--color-primary); */
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.menu-toggle__icon {
  color: var(--color-principal);
  display: block;
  position: absolute;
  top: 25%;
  left: 28%;
  transition: all 300ms ease-in-out;
}

.fa-bars {
  opacity: 1;
}

.fa-xmark {
  opacity: 0;
}

.header__menu {
  display: none;
  position: absolute;
  width: 340px;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  overflow: auto;
  z-index: 1;
  background-color: var(--color-secundary);
  opacity: 0;
}

.header__menu--visible {
  display: block;
  width: 20%;
  margin-right: 0;
  opacity: 1;
}

.header__menu--hidden {
  margin-right: -100%;
  opacity: 0;
}

.menu__item {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  list-style: none;
}

.menu__item--top {
  margin-top: 9rem;
}

.menu__link {
  color: var(--color-text-dark);
  font-family: "Roboto Black";
  /* font-weight: bold; */
  font-size: 1.6rem;
  text-transform: capitalize;
  transition: all 250ms;
}

.menu__link:hover {
  color: var(--color-primary);
}

.active {
  /* border-bottom: 3px solid var(--color-primary); */
  color: var(--color-primary);
  font-weight: bold;
}

.layout__home {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 95%;
  padding-bottom: 5rem;
  /* margin: 0 auto; */
  /* border-bottom: 1px solid var(--color-secundary); */
}

.home__info {
  width: 45%;
  text-align: center;
  /* border: 1px solid red; */
}

.home__image {
  width: 100%;
  /* border: 1px solid red; */
}

.home__form {
  width: 45%;
  /* border: 1px solid blue; */
}

.home__video {
  width: 50%;
  text-align: center;
  /* border: 1px solid red; */
}

.info__title {
  margin-top: -2rem;
  font-size: 6rem;
  text-shadow: 0 0 0.2rem var(--color-sombra);
}

.info__subtitle {
  color: var(--color-text-dark);
  font-size: 2.5rem;
  text-shadow: 0 0 0.2rem var(--color-sombra);
}

.layout__form {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid red; */
  margin: 0 auto;
}

.form__cont {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  /* padding-bottom: 0.5rem; */
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  background-color: var(--color-text);
  opacity: 0.8;
  border-radius: 1rem;
  color: var(--color-text-dark);
}

.form__cont-doble {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.4rem;
}

.vehiculo__colum {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 90%;
  /* border: 1px solid red; */
}

.form__button {
  height: 4rem;
  padding: 1.3rem 2rem;
  /* border: 2px solid var(--color-border); */
  border-radius: 1rem;
  border: none !important;
  color: var(--color-text);
  font-size: 1rem;
  font-family: "Montserrat Bold";
  text-transform: uppercase;
  background-color: var(--color-text-dark);
  cursor: pointer;
  transition: all 200ms ease-out;
}

.form__button:hover {
  background-color: var(--color-background);
  border: 2px solid var(--color-primary);
  color: var(--color-text);
}

.form__sub {
  margin-left: 4rem;
}

.form__sub-title {
  width: 45%;
  text-align: left;
  font-size: 1rem;
  /* color: var(--color-text-dark); */
}

.form__label {
  margin-bottom: 0.4rem;
  font-family: "LeagueSpartan Bold";
  font-size: 1.1rem;
  color: var(--color-text-dark);
  text-transform: uppercase;
}

.form__label--select {
  color: var(--color-text-dark);
  font-size: 0.8rem;
  margin-left: 1rem;
}

.form__input,
.form__ruta {
  outline: none;
  background-color: transparent !important;
  padding: 0.5rem 1rem;
  color: var(--color-text-dark);
  box-shadow: none !important;
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 0.2rem solid var(--color-secundary) !important;
}

.form__input {
  width: 90%;
}

.form__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  /* border: 1px solid red; */
}

.form__select {
  /* display: flex;
  justify-content: space-between; */
  width: 40%;
  margin-bottom: 2rem;
  padding-left: 1rem;
}

.select__options {
  margin-top: 1rem;
  padding: 1.5rem 2rem;
  background-color: var(--color-text-dark);
  border-radius: 1rem;
  border: none;
  /* color: var(--color-text-dark); */
}

.select__options:hover {
  cursor: pointer;
  background-color: var(--color-background);
}

.form__input[type="date"]::-webkit-calendar-picker-indicator,
.form__input[type="time"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  /* border-radius: 4px;
  margin-right: 2px; */
  /* opacity: 0.9; */
  /* filter: invert(0.9); */
  color: var(--color-text-dark);
}

.form__input::placeholder {
  color: var(--color-text-dark);
}

.dark__vehiculos {
  display: flex;
  justify-content: space-between;
}

.vehiculos__content {
  width: 50%;
}

.vehiculos__vehiculo {
  width: 100%;
  margin-bottom: 3rem;
  background-color: var(--color-background);
  opacity: 0.9;
  border: 1px solid var(--color-border);
  box-shadow: 0 0 1rem var(--color-sombra);
  border-radius: 2rem;
}

.vehiculo__box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 2.5rem;
  border-radius: 1rem;
}

.vehiculo__car-n {
  display: flex;
  flex-direction: column;
}

.vehiculo__car-n,
.vehiculo__car-i,
.vehiculo__car-d {
  margin: 0 0.5rem;
}

.vehiculo__subtitle {
  font-size: 1.6rem;
  color: var(--color-text);
  text-transform: capitalize;
}

.vehiculo__car-i {
  width: 55%;
  /* border: 1px solid red; */
}

.vehiculo__image {
  width: 100%;
}

.vehiculo__car-d {
  width: 10%;
}

.vehiculo__car-n {
  width: 35%;
}

.map-info {
  width: 35%;
}

#map,
#mapret,
#mapida {
  /* float: none; */
  height: 30.5rem;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 0 0.7rem var(--color-sombra);
}

#mapida {
  border: 1px solid blue;
}

/* PAGINA DE DETALLES */

.layout__detail {
  display: flex;
  justify-content: space-evenly;
  /* border: 1px solid red; */
}

.detail__info {
  width: 40%;
  margin-top: 1rem;
  /* border: 1px solid red; */
}

.detail__map {
  width: 45%;
  margin-top: 1rem;
}

.detail__data {
  display: flex;
  justify-content: space-between;
}

.detail__btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}

.layout__title {
  font-family: "Roboto Black" !important;
  font-weight: bold;
  text-align: center;
  margin-top: -4rem;
  margin-bottom: 2rem;
}

.layout__footer {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 2rem;
  text-align: center;
}

.home__gallery {
  margin-top: 5rem;
  margin-bottom: 7rem;
}

.gallery__title {
  display: block;
  width: 30%;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 4rem;
  padding-bottom: -4px;
  font-size: 3.5rem;
  text-align: center;
  border-bottom: 3px solid var(--color-primary);
}

.gallery__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery__card {
  flex-basis: 30%;
  flex-grow: 1;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  /* width: 30%; */
  /* padding: 2rem 3rem; */
  padding-bottom: 1rem;
  background-image: linear-gradient(
    to right bottom,
    #000000,
    #030303,
    #070707,
    #0a0a0a,
    #0d0d0d,
    #101010,
    #131313,
    #161616,
    #191919,
    #1c1c1c,
    #1f1f1f,
    #222222
  );
  /* background-color: var(--color-text-dark); */
  border-radius: 1rem;
  box-shadow: 0 0 1rem var(--color-sombra);
}

.card__img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20rem;
  /* border: 2px solid red; */
  border-bottom: 1px solid var(--color-border);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

.card__photo {
  width: 100%;
  /* height: 100%; */
}

.card__header {
  /* width: 90%; */
  /* height: 4rem; */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  justify-items: center;
  padding-left: 1.5rem;
  padding-right: 1rem;

  /* align-items: center; */
  /* margin-bottom: 1rem; */
  /* border: 1px solid red; */
}

.card__title {
  width: 65%;
  font-size: 1.6rem;
  text-transform: capitalize;
  /* margin-right: 2rem; */
  /* border: 1px solid yellow; */
}

.card__icon {
  display: flex;
  /* justify-content: center; */
  width: 25%;
  /* border: 1px solid yellow; */
}

.card__luggage,
.card__passeger {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: -0.2rem;
  padding-right: 2rem;
  /* border: 1px solid blue; */
  /* padding: 0.5rem 1rem; */
  /* background-color: var(--color-primary); */
  color: var(--color-text);
  /* font-style: italic; */
  font-size: 1.2rem;
  font-weight: 700;
}

.card__item {
  margin-right: 0.5rem;
}

.card__desc {
  font-size: 1.2rem;
  line-height: 1.3rem;
  text-align: justify;
  padding-left: 2rem;
  padding-right: 2rem;
}
/* .card__luggage {
  top: 80px;
} */

/* Estilo básico para el Slider*/
#gallery {
  width: 50%;
  margin: auto;
  overflow: hidden;
}

.gallery-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.gallery-item {
  min-width: 100%;
  box-sizing: border-box;
}

.gallery-item img {
  width: 100%;
  display: block;
}

/* Navegación del Slider */
.gallery-navigation {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -50px;
}

.nav-button {
  background-color: #008cba;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.nav-button:hover {
  background-color: #005f5f;
}

/* GALERIA TOURS */

.mask {
  display: block;
  width: 40%;
  margin-left: -14px;
  position: relative;
  border: 2px solid blue;
  /* box-shadow: 0px 0px 10px #333; */
}

.card__img {
  position: relative;
  display: flex;
  overflow: hidden;
}

.box {
  width: 100%;
  flex-shrink: 0;
}

.box img {
  width: 100%;
}
